<div class='row text-center'><h1>Chats</h1></div>

<div class='row' id='chats'>
  <% @chats.each do |chat| %>
    
      <%= render "chat", chat: chat %>
    
  <% end %>
</div>


<div class='row text-center'>
  <div class='col-lg-6 col-lg-offset-3'>
    <% if (params[:chat_kind] == "ComChat") %>
      <%= link_to "Create new chat", sti_chat_path(@chat_type, nil, :new),remote: true, class: 'btn btn-lg btn-success btn-block', id: "new_chat_link" %>
    <% end %>
  </div>
</div>