.creating {
	font-size: 70%;
	color: black;
}
.naming {
	font-size: 130%;
}
.likesize {
	font-size: 120%;
	font-weight: 500;
}
.btn-margin{
	margin-top: 15px;
}
.black-link {
	color: #000000;
}
.primary-link {
	color: #005686;
}