.creating {
	font-size: 70%;
	color: black;
}
.naming {
	font-size: 130%;
}
.likesize {
	font-size: 120%;
	font-weight: 500;
}
.btn-margin{
	margin-top: 15px;
}
.black-link {
	color: #000000;
}
.primary-link {
	color: #005686;
}
.navigation {
	padding-right: 100px;
	font-size: 130;
	font-weight: 500;
}

#brand {
	border: 2px solid white;
	height: 50px;
	width: 50px;
}
.fa-rotate-45 { 
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); 
}